---
import { ProdurctList } from "@/components";
import Pagination from "@/components/shared/Pagination.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import { actions } from "astro:actions";

const searchParams = Astro.url.searchParams;
const pageParam = Number(searchParams.get("page")) ?? 1;


const { data, error } = await actions.getProductByPage({
  page: pageParam,
});

if (error) {
  return Astro.redirect("/");
}



const { products, totalPages } = data;

---

<MainLayout>
  <h1 class="text-3xl">Listado de Productos</h1>

  <ProdurctList products={products} client:load />

  <Pagination totalPages={totalPages} />
</MainLayout>
